@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato:wght@300;400;700&display=swap');
/**********************
variables
**********************/
$primary: #7c57b4;
$secondary: #f1c50e;
$lightGray: #fdf9f6;
$white: #fff;
$bodyFont: 'Lato', sans-serif;
$headings: 'Anton', sans-serif;
$fontSize: 16px;
$transition: .4s ease;
$padding: 70px 0;
/**********************
mixins
**********************/
@mixin flex($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
/**********************
basic styles
**********************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body {
    font-family: $bodyFont;
    font-size: $fontSize;
    line-height: 1.7;
    background: $lightGray;
    color: darken($primary, 20%);
}
h1, h2, h3, h4, h5 {
    color: $primary;
}

.container {
    width: 90%;
    margin: auto;

}

nav {
    background: $primary;
    padding: 5px 0;
    .container {
        @include flex(space-between, center, row);
        .logo {
            font-family: $headings;
            color: $lightGray;
            font-size: 2rem;
            letter-spacing: 3px;
            &:hover {
                color: $secondary;
            }
        }
        ul {
            @include flex(center, center, row);
            list-style: none;
            li {
                margin-left: 60px;
                a {
                    color: $lightGray;
                    text-transform: uppercase;
                    &:hover {
                        color: $secondary;
                    }
                }
            }
        }
    }
}

footer {
    padding: $padding;
    background: $primary;
    .container {
        color: $lightGray;
        @include flex(space-between, flex-start, row);
        article:nth-child(1) {
            flex: 0 0 60%;
        }
        article:nth-child(2) {
            flex: 0 0 16%;
            i {
                margin-right: 10px;
                color: $secondary;
            }
            a {
                color: white;
                text-decoration: none;
            }
        }
        article:nth-child(3) {
            flex: 0 0 19%;
            ul {
                @include flex(flex-start, center, row);
                a {
                    color: $secondary;
                    margin-right: 10px;
                    font-size: 2rem;
                }
            }
        }
        h3 {
            color: $lightGray;
            font-size: 1.5rem;
            padding-bottom: 10px;
        }
    }
    
}
